// Header BackGround Image scss

.imcc-headerbg {
    background-image: url(../../assets/image/34916.jpg);
}
.imCC-Background-Cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}