<!-- Navbar Component Start -->
<nav class="p-3 d-flex align-items-center justify-content-between fixed-top">
  <ul class="list-unstyled d-flex">
    <li class="px-2"><a routerLink="home">Home</a></li>
    <li class="px-2"><a routerLink="about">about us</a></li>
    <li class="px-2"><a routerLink="contact">Contact</a></li>
  </ul>
  <ul class="list-unstyled d-flex">
    <li class="px-2"><a><i class="fab fa-instagram"></i></a></li>
    <li class="px-2"><a><i class="fab fa-youtube"></i></a></li>
    <li class="px-2"><a><i class="fab fa-facebook"></i></a></li>
    <li class="px-2 me-4"><a><i class="fab fa-twitter"></i></a></li>
    <li class="px-2"><a routerLink="login">Login</a></li>
    <li class="px-2"><a routerLink="register">Register</a></li>
    <li class="px-2"><a routerLink="contact">Logout</a></li>

  </ul>
</nav>
